@import '_icons';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-padding-top {
  @media (min-width: 768px) {
  padding-top: 58px;
  }
  padding-top: 32px;
}

.last-breadcrumb {
  @media (max-width: 768px) {
    max-width: 100px;
  }
}
