@import '_icons';
@import '_loading';
@import '_evaluation';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-padding-top {
  @media (min-width: 768px) {
  padding-top: 58px;
  }
  padding-top: 32px;
}

.last-breadcrumb {
  @media (max-width: 768px) {
    max-width: 100px;
  }
}


.toggle-btn {
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .toggle-btn {
  background-color: #028083;
  color: #ffffff;
}